.box
{  
    background-color: whitesmoke;
   width:900px;
   height:auto;
   padding:8px 10px;
   margin: -20px;
   border:1px solid black;

}
.title
{
    width:900px;
    height: 75px;
    margin: 5px;
    padding: 30px;
}

.border
{
    border:1px solid black;
}

input [type=text]
{
width:250px;
align-items: center;

}
.imgbox
{
    
    border:1px solid black;
    float:left;
    margin:3px;
    width:80px;
    height: 125px;
}
.circle{
    width:70px;
    height:70px;
    padding:10px;
    margin:5px;
    border-radius: 50%;
    border:1px solid black;
}
.contentbox
{
   
    float:right;
    margin:1px;
    width:105px;
    height:180px;
    font-size:14px;
    text-align:left ;
    
}







